<?xml version="1.0"?>
<launch>
  <arg name="cansu" default="$(find models)/urdf/sekil8.urdf"/>
  <arg name="rvizconfig" default="$(find models)/rviz/urdf.rviz"/>
  
  <include file="$(find models)/launch/gazebo.launch">
    <arg name="cansu" value="$(arg cansu)"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
  
  <rosparam command="load"
            file="$(find models)/config/joints.yaml"
            ns="spider_joint_state_controller"/>
  
  <rosparam command="load"
            file="$(find models)/config/head.yaml"
            ns="spider_head_controller"/>
  
  <node name="spider_controller_spawner" pkg="controller_manager" type="spawner"
        args="spider_joint_state_controller
              spider_head_controller
              --shutdown-timeout 3"/>
</launch>
