<?xml version="1.0"?>
<robot name="multipleshapes">
  <link name="base_link">
     <visual>
        <geometry>
          <cylinder length="0.05" radius="0.6"/>
        </geometry>
     </visual>
  </link>

  <link name="right_leg">
    <visual>
      <geometry>
         <cylinder length="0.7" radius="0.03"/>
      </geometry>
      <origin rpy="0 1.5787 0" xyz="0 0.2 0.3"/>
    </visual>
  </link>

  <joint name="base_to_rigth_leg" type="fixed">
     <parent link="base_link"/>
     <child link="right_leg"/>
     <origin rpy="0 2 0" xyz="0.3 0.18 0.45"/>
  </joint>
</robot>

